.darzi-otp{
    width:100%;
    max-width:428px;
    height:100vh;
    background-color:#870404;
    margin:0 auto;
    padding-top:22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.darzi-otp span{
    color:#fff;
    font-size:18px;
    line-height:27px;
    display: block;
}